{%extends "ABCStyleBundle:Templates:TwitterFormTemplate.html.twig"%}

{%block  script%}

<script>
    function popitup(url) {
	newwindow=window.open(url,'name','height=600,width=400,screenX=500,screenY=50');
	if (window.focus) {newwindow.focus()}
	return false;
    }
</script> 
{%endblock%} 
{%block container%}
{%set count=0%}
{%set total=0%}
    
    
<form action="{{ path('rsp_assignCourse',{'id': id})}}" method="GET">
{%if courses is defined%}

        {%for course in courses%}  
    
             <input type="checkbox" name="{{count}}" value="{{course.title}}">{{course.title}}<br>
             {% set count = count+1  %}
    
        {%endfor%}
             
    <input type="hidden" name="total" value="{{count}}">
    <input type="submit" name="submit" value="Assign Courses">
{%endif%}
    
    
    {%if error is defined%}
        <div class="alert-danger">
                {{error}}
        </div>
    <br>
    <a href="{{path('rsp_showAll')}}"> Back to Main Menu</a>
    <br>
    <input type="button" onclick="popitup({{path('updatecourse_new')}})"> Add a new course</a>
    
    {%endif%}
    <br>
    

</form>

{%endblock%}