{% extends "ABCStyleBundle:Templates:TwitterFormTemplate.html.twig"%}

{% block container%}
<h2>Step 1: Application Form</h2>

        {{ form_start(form) }}
        {{ form_row(form.course, {'label': 'Course Title'}) }}
        {{ form_row(form.nic) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.dob) }}
        {{ form_row(form.gender) }}
        {{ form_row(form.email) }}
        {{ form_row(form.address) }}
        {{ form_row(form.phone) }}
    {#    {{ form_row(form.currentoccupation) }} #}
        {{ form_row(form.qualification) }}
        <br>
        Please attach your certificates in PDF format.
        <br>
        {{ form_row(form.certificates) }}
        
        {{ form_widget(form.apply) }}
{% endblock %}  
