{% extends "ABCStyleBundle:Templates:TwitterFormTemplate.html.twig"%}

{% block container%}
        
<h1>Application Form</h1>
<br>
        Course: {{ applicant.course }}
        
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <br>
        {{ form_row(form.course) }}
        {{ form_row(form.nic) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.gender) }}
        {{ form_row(form.email) }}
        {{ form_row(form.address) }}
        {{ form_row(form.phone) }}
        Please add your preferences on the date of the classes.
        <br>
        {{ form_row(form.timeslot1, {
            'label': 'Preference 1'
            })
        }} 
        {{ form_row(form.timeslot2, {
            'label': 'Preference 2'
            })
        }}        
        
        {{ form_rest(form) }}

        <ul class="record_actions">
         <li>
         <a href="{{ path('application') }}">
            Back to the list
        </a>       
             </li>  
         </ul>
{% endblock %}  