{% extends "ABCStyleBundle:Templates:TwitterFormTemplate.html.twig"%}

{% block container%}
        
<h2>Step 1: Application Form</h2>
<br>
        Course: {{ applicant.course }}
        
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <br>
        {{ form_row(form.course) }}
        {{ form_row(form.nic) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.gender) }}
        {{ form_row(form.email) }}
        {{ form_row(form.address) }}
        {{ form_row(form.phone) }}
        
        {{ form_widget(form.submit) }}

        <ul class="record_actions">
         <li>
         <a href="{{ path('application') }}">
            Back to the list
        </a>       
             </li>  
         </ul>
{% endblock %}  