<h1>You have successfully registerered.</h1>

<p>Registered Course: {{ applicant.course.title }}</p>
<p>Course Fee: {{ applicant.course.fee }}</p>
<br>
<p>We have sent a confirmation mail to you at <strong>{{ applicant.email }}</strong>. Please check mail.</p>

<br>
  <ul class="record_actions">
    <li>
        <a href="{{ path('application') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('application_edit', { 'id': applicant.appId }) }}">
            Edit
        </a>
    </li>
</ul>
