<head>
<h1>Selection of Students into Sessions</h1>
</head>

<body>
{% for key, c in courses %} 
    <form action="{{path('abc_select')}}" method="POST">
        Course Title:   {{ c.title }}<br>
        Enrolled:       {{ all[key]|length }}<br>
        Reviewed:       {{ reviewed[key]|length }}<br>
        {% if all[key]|length == reviewed[key]|length %}
            <input type="hidden" name="courseId" value="{{c.courseId}}">
            <input type="submit" value="Select Students">
        {% endif %}
    </form>
    <br>
{% endfor %}       
</body>