<h1>Application Review</h1>
<br>
Application id: {{applicant.appId}}<br>
<br>
NIC: {{applicant.nic}}<br>
Name: {{applicant.firstname}} {{applicant.lastname}}<br>

<br>
<h2>Evaluation:</h2>

<form action="{{ path('rating_update', {'appId':applicant.appId}) }}" method="POST">
    <ul class="record_actions"> 
        <input type='hidden' name="appId" value="{{applicant.appId}}">
        <li>Complete Application Form<input type='number' name="c1" min="0" max="10"></li>
        <li>Communication Skills<input type='number' name="c2" min="0" max="10"></li>
        <li>Relevant Certificates<input type='number' name="c3" min="0" max="10"></li>
        <li>Educational Qualifications<input type='number' name="c4" min="0" max="10"></li>
        <li>Professional Qualifications<input type='number' name="c5" min="0" max="10"></li>
    </ul>
    <br>
    <input type="submit" value="Submit">
</form>