{% extends "ABCStyleBundle:Templates:TwitterFormTemplate.html.twig"%}

{% block container%}
         
        {{form_start(form)}} 
         <h3 style="color: #0088cc; text-align: center">Add Timeslot</h3><br>
        {{form_errors(form)}}
        {{ form(form)}}
        {{form_rest(form)}}
        <ul class="record_actions">
         <li>
         <a href="{{ path('timeslot_showAll') }}">
            Back to the list
        </a>       
             </li>  
         </ul>
{% endblock %}        
