<!DOCTYPE html>
<!-- Website template by ALECTA informatics (CLR) -->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="{{asset('bundles/abcstyle/img/home/icon.ico')}}">
        <script type="text/javascript" src="{{asset('bundles/abcstyle/js/home/jquery-1.10.0.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{asset('bundles/abcstyle/css/home/style.css')}}">
        <link rel="canonical" href="./template.html">
        <script src="{{asset('bundles/abcstyle/js/home/jquery.min.js')}}"></script>
        <script src="{{asset('bundles/abcstyle/js/home/plugins.js')}}"></script>
        <script src="{{asset('bundles/abcstyle/js/home/script.js')}}"></script>
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="">
        <link rel="stylesheet" href="{{asset('bundles/abcstyle/css/home/slide_style.css')}}" type="text/css">
        <script type="text/javascript" src="{{asset('bundles/abcstyle/js/home/navigation.js')}}"></script>
    </head>

    <body id="body" data-twttr-rendered="true" style=""><iframe id="twttrHubFrameSecure" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" name="twttrHubFrameSecure" src=".//hub.htm" style="position: absolute; top: -9999em; width: 10px; height: 10px;"></iframe><script type="text/javascript"></script>
        <div id="container">
            <div id="top" style="background-color:#77EEEE;height:80px;"> 
                <div id="divTopMenu" class="sticky">
                    <table border="0" style="border-collapse:collapse;width:100%;" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                                <td id="tdTopMenuLeftPadding" height="85" style="width: 150px;">&nbsp;</td>
                                <td width="400">
                                    <table border="0" style="border-collapse:collapse;" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td height="85" valign="center">
                                                    <a href="{{path('abc_home_homepage')}}" border="0" ><img style="margin-top:12px;" src="{{asset('bundles/abcstyle/img/home/top_logo.png')}}" border="0"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td align="right" valign="center">&nbsp;
                                    <div id="divNavigationMenuClassic" style="float: right;margin-top:15px;">
                                        <a id="buttonAbout" href="{{path('abc_home_aboutpage')}}" border="0"><img id="imgAbout" width="68" height="50" src="{{asset('bundles/abcstyle/img/home/about.png')}}" border="0" style="padding-right:15px;opacity:.3;" isselected="0"></a>
                                        <a id="buttonCourses" href="{{path('abc_home_coursespage')}}" border="0"><img id="imgCourses" width="79" height="50" src="{{asset('bundles/abcstyle/img/home/courses.png')}}" border="0" style="padding-right:15px;opacity:.3;" isselected="0"></a>
                                        <a id="buttonInstructors" href="{{path('abc_home_instructorspage')}}" border="0"><img width="125" height="50" id="imgInstructors" src="{{asset('bundles/abcstyle/img/home/instructors.png')}}" border="0" style="padding-right:15px;opacity:.3;" isselected="0"></a>
                                        <a id="buttonContactUs" href="{{path('abc_home_contactuspage')}}" border="0"><img id="imgContactUs" width="125" height="50" src="{{asset('bundles/abcstyle/img/home/contact_us.png')}}" border="0" style="padding-right:15px;opacity:.3;" isselected="0"></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="slider" style="background-color:#FFFFFF;height:574px;">
            <div class="scrollblock">
                <div id="vignette" class="slide">
                    <div class="flexslider clearfix" style="overflow: hidden;">
                        <ul class="slides clearfix" style="-webkit-transition: 1.3s; transition: 1.3s; width: 1400%; -webkit-transform: translate3d(-4053px, 0px, 0px);"><li style="background-color: black; width: 1351px; float: left; display: block;" class="clone">
                                <div class="viewport">
                                    <div class="vignette-details" style="opacity: 1; margin-left: 0px;">
                                        <h2 style="margin-bottom: 40px;"><div class="line1">Java</div>Programming</h2>
                                        <div class="button red"><a href="./template.html" title="">Apply Now</a></div>
                                        <div class="article-reveal" style="display: none;"><div class="close-article"><a href="./template.html">Close</a></div><p>    </p></div>
                                    </div>
                                </div>
                                <img src="{{asset('bundles/abcstyle/img/home/slides/01.jpg')}}">
                            <li style="background-color: black; width: 1351px; float: left; display: block;">
                                <div class="viewport">
                                    <div class="vignette-details" style="opacity: 1; margin-left: 0px;">
                                        <h2 style="margin-bottom: 40px;"><div class="line1">3D Max</div>Designing</h2>
                                        <div class="button red"><a href="./template.html" title="">Apply Now</a></div>
                                        <div class="article-reveal" style="display: none;"><div class="close-article"><a href="./template.html">Close</a></div><p>Golf has been a huge part of my life since a very young age. My Dad introduced me to the game when I was 2 years old and from that moment on I was hooked. I still love the game now as much as I did when I first got a club in my hand. It’s a bug.</p></div>
                                    </div>
                                </div>
                                <img src="{{asset('bundles/abcstyle/img/home/slides/02.jpg')}}">
                            </li>

                            <li style="background-color: black; width: 1351px; float: left; display: block;">
                                <div class="viewport">
                                    <div class="vignette-details" style="opacity: 1; margin-left: 0px;">
                                        <h2 style="margin-bottom: 40px;"><div class="line1">Photoshop</div>Editing</h2>
                                        <div class="button red"><a href="./template.html" title="">Apply Now</a></div>
                                        <div class="article-reveal" style="display: none;"><div class="close-article"><a href="./template.html">Close</a></div><p>I take my physical fitness and well-being very seriously. I believe that being in good physical shape helps me to be a better player. I can drive the ball further, my energy and concentration levels are improved and I feel like I have an extra edge when the pressure is on. A healthy body equals a healthy mind.</p></div>
                                    </div>
                                </div>
                                <img src="{{asset('bundles/abcstyle/img/home/slides/03.jpg')}}">
                            </li>

                            <li style="background-color: black; width: 1351px; float: left; display: block;">
                                <div class="viewport">
                                    <div class="vignette-details" style="opacity: 1; margin-left: 0px;">
                                        <h2 style="margin-bottom: 40px;"><div class="line1">Web</div>Designing</h2>
                                        <div class="button red"><a href="./template.html" title="">Apply Now</a></div>
                                        <div class="article-reveal" style="display: none;"><div class="close-article"><a href="./template.html">Close</a></div><p>I am a sports nut at heart.&nbsp; While golf is my passion, I am a huge fan of all sports - particularly football, rugby, basketball, tennis and boxing. I love the excitement of watching sports on TV and I try to get to as many live sports events as I can when I am on the road. When it comes to sports - I’m the same as any normal fan!</p></div>
                                    </div>
                                </div>
                                <img src="{{asset('bundles/abcstyle/img/home/slides/04.jpg')}}">
                            </li>

                            <li style="background-color: black; width: 1351px; float: left; display: block;">
                                <div class="viewport">
                                    <div class="vignette-details" style="opacity: 1; margin-left: 0px;">
                                        <h2 style="margin-bottom: 40px;"><div class="line1">Android</div>Development</h2>
                                        <div class="button red"><a href="./template.html" title="">Apply Now</a></div>
                                        <div class="article-reveal" style="display: none;"><div class="close-article"><a href="./template.html">Close</a></div><p>My Mum and Dad gave up a lot so I could play this game, and I can never thank them enough. Spending time with my family, be it at home or when they come out to support me at tournaments, is very important to me.</p></div>
                                    </div>
                                </div>
                                <img src="{{asset('bundles/abcstyle/img/home/slides/05.jpg')}}">
                            </li>

                        </ul>
                        <ul class="flex-direction-nav"><li><a class="prev" href="./template.html">Previous</a></li><li><a class="next" href="./template.html">Next</a></li></ul>
                    </div>
                </div>
            </div>	
            <div id="bottom_content" style="background-color:#FF0066;height:100px;font-color:white">
            </div>
        </div>
        <div id="footer" class="fclass">
            <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                <tbody>
                    <tr>
                        <td width="100" height="30">&nbsp;</td>
                        <td valign="top">
                            <div style="width:100%;height:4px;">
                                <font style="font-size:12px;">Copyright © 2014 ALECTA informatics™. All rights reserved.</font>
                            </div>
                        </td>
                        <td valign="center" align="right">
                            <div style="width:100%;height:3px;"></div>
                            <a href="https://www.facebook.com/AlectaInformatics" border="0" target="_BLANK"><img src="{{asset('bundles/abcstyle/img/home/facebook_25.png')}}" border="0"></a>
                            <a href="https://www.facebook.com/AlectaInformatics" border="0" target="_BLANK"><img src="{{asset('bundles/abcstyle/img/home/twitter_25.png')}}" border="0"></a>
                            <a href="https://www.facebook.com/AlectaInformatics" border="0" target="_BLANK"><img src="{{asset('bundles/abcstyle/img/home/googleplus_25.png')}}" border="0"></a>
                        </td>
                        <td width="100">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>